{%extends 'index.html'%}
{%block content%}
<section class="p-3">
    <h1>Privacy Policy for Remkay Schools</h1>

    <p>We respect your privacy and are committed to protecting your personal information. This privacy policy will inform you of how we collect, use, and disclose your personal information when you use our school management website.</p>

    <h2>Information Collection and Use</h2>
    <p>We collect personal information from you when you register for an account on our website. This may include your name, email address, phone number, and other contact information. We may also collect non-personal information such as your browser type, IP address, and usage data.</p>

    <p>We use this information to provide you with access to our website and its services, to communicate with you about your account and our services, and to improve our website and its services.</p>

    <h2>Information Sharing</h2>
    <p>We may share your personal information with third-party service providers who assist us in operating our website and providing our services. We may also disclose your personal information to law enforcement agencies or other government entities when required by law.</p>

    <h2>Security</h2>
    <p>We take reasonable measures to protect your personal information from unauthorized access, use, and disclosure. However, no system can be completely secure, and we cannot guarantee the security of your personal information.</p>

    <h2>Cookies</h2>
    <p>We use cookies and other similar technologies to enhance your user experience and provide personalized content and advertising. You can choose to disable cookies in your browser settings, but this may affect your ability to use our website.</p>

    <h2>Changes to this Privacy Policy</h2>
    <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on our website. You are advised to review this privacy policy periodically for any changes.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about this privacy policy, please contact us at privacy@schoolmanagement.com.</p>
</section>
{%endblock content%}